@page "/About"

<h1>About</h1>
<h3>Welcome to My Profile</h3>
<p>
    My name is Abd Al-Rahman Hesham Elsayed. I am a Full Stack Developer, passionate about building robust and efficient solutions.
    Currently honing my skills and making strides in the field in 2024.
</p>
<p>
    Feel free to reach out to me via email:
    <a style="font-size:9px; text-overflow:clip;word-wrap:anywhere" href="mailto:heshamabdalrahman46@gmail.com">heshamabdalrahman46@gmail.com</a>
</p>

<footer style="text-align: center; margin-top: 20px; font-size: 0.9em; color: gray;">
    &copy; 2024 Abd Al-Rahman Hesham Elsayed. All rights reserved.
</footer>
