 @inherits LayoutComponentBase

<div class="page"> 
    <div class="sidebar "> 
        <NavMenu />
    </div>

<main >

        <article 
            class="content py-5 px-2">
            <div style="background-color: white; 
                        border-radius: 8px; 
                        width:70vw !important
                        " class="p-3">
            @Body
            </div>
        </article>
    </main>
</div> 

